.container {
  max-width: 1280px;
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;

  &__row {
    flex-direction: row;

    &_center {
      justify-content: center;
    }

    &_space {
      justify-content: space-between;
    }
  }

  &__col {
    flex-direction: column;

    &_center {
      justify-content: center;
    }

    &_space {
      justify-content: space-between;
    }
  }
}
