.container {
  max-width: 1280px;
}

.area {
  padding: 0 20px;
}

.center {
  margin: 0 auto;
}

.flex {
  display: flex;

  &__row {
    flex-direction: row;

    &_horizontal {
      &-space {
        justify-content: space-between;
      }

      &-center {
        justify-content: center;
      }
    }
  }

  &__col {
    flex-direction: column;

    &_horizontal {
      &-center {
        justify-content: center;
      }
    }

    &_vertical {
      &-center {
        justify-content: center;
      }

      &-space {
        justify-content: space-between;
      }
    }
  }

  .gap-8 {
    gap: 8px;
  }

  .gap-12 {
    gap: 12px;
  }
}
